<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Catalog App</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="{{url_for('showCategories')}}" class="navbar-brand">Catalog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('showCategories')}}">Home</a></li>
      <li><a id="addItem" href="{{url_for('addItem')}}">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a id="logout" href="{{url_for('disconnect')}}"><span class="glyphicon glyphicon-log-out"></span> {{login_session['username']}}</a></li>
        <li><img id="userimg" class="img-circle" src="{{login_session['picture']}}" width="30" height="30"></li>
        <li><a id="login" href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1>{{myCategory}}</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div class="row-eq-height">
        <div class="col-sm-12">
            <strong> {{ message }} </strong>
        </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}

    <div class="row-eq-height">
        <div class="col-sm-4">
            {% for i in items %}
            <ul>
                <li><a class="thick" style="text-decoration: none" href="{{url_for('itemInfo', category=myCategory, item=i.name)}}"> {{i.name}} </a></li>
            </ul>
            {%endfor%}
        </div>
    </div>

    <script>

        if ({{loginStatus}} == 1){
            document.getElementById("login").setAttribute("style","display:none");
            document.getElementById("logout").setAttribute("style","display:inline-block");
            document.getElementById("addItem").setAttribute("style","display:inline-block");
            document.getElementById("userimg").setAttribute("style","display:inline-block");
        }
        else{
            document.getElementById("login").setAttribute("style","display:inline-block");
            document.getElementById("logout").setAttribute("style","display:none");
            document.getElementById("addItem").setAttribute("style","display:none");
            document.getElementById("userimg").setAttribute("style","display:none");
        }
    </script>
</div>
</body>
</html>